version: "3.8"

services:
  
  frontend:
    image: frontend
    deploy:
      replicas: {{ container_replicas }}
      placement:
        constraints:
          - node.labels.type == app
        preferences:
          - spread: node.labels.app
    ports:
      - 80:3000
    environment:
      NODE_ENV: production
    networks:
      - frontend

networks:
  frontend:
    driver: overlay