version: "3.8"

services:
  
  couchdb_lb:
    image: couchdb_lb
    deploy:
      mode: replicated
      replicas: {{ couchdb_lb_container_replicas }}
      placement:
        constraints:
          - node.labels.type == app
        preferences:
          - spread: node.labels.app
    ports:
      - 10000:10000
    networks:
      - couchdb_lb

networks:
  couchdb_lb:
    driver: overlay